
.DS_Store
/preprocess/raw_data/
/preprocess/clean_data/
/patient_tracker/patient_notes/

preprocess/scripts/.ipynb_checkpoints/
preprocess/scripts/.ipynb_checkpoints
preprocess/scripts/.ipynb_checkpoints/MS001_preprocess-checkpoint.ipynb
